<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConnectEvent">

        <!-- ONLY ONE LAUNCHER ACTIVITY -->
        <activity
            android:name=".view.SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Normal Activities (NO intent-filter here) -->
        <activity android:name=".view.DashboardPage" android:exported="true"/>
        <activity android:name=".view.LoginPage" android:exported="true" />
        <activity android:name=".view.RegisterPage" android:exported="true"/>
        <activity android:name=".view.ForgetPasswordPage" android:exported="true"/>
        <activity android:name=".view.JoinEventPage" android:exported="true"/>
        <activity android:name=".view.ViewEventPage" android:exported="true"/>
        <activity android:name=".view.MyEventsPage" android:exported="true"/>
        <activity android:name=".view.EditProfilePage" android:exported="true"/>
        <activity android:name=".view.Notification" android:exported="true"/>

    </application>

</manifest>